body {
    margin: 0;
}
.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(purple, aquamarine);
}
.heading {
    padding: 0 100px;
    border-radius: 12px;
    background: white;
    text-align: center;
}

.portfolio {
    padding: 45px;
}

.projects {
    justify-content: center;
    padding:0;
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.projects > li {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}
