body {
    margin: 0;
}

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0F2027, #203A43, #2C5364);
}

h1 {
    font-size: 2em;
}

.heading {
    padding: 0 100px;
    border-radius: 12px;
    background: white;
    text-align: center;
}

.portfolio {
    padding: 45px;
}

.projects {
    justify-content: center;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.projects > li {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 10px;
}

.projects img {
    width: 250px;
    max-width: 90vw;
}
